.autoenv.zsh
target/
.scalafmt.conf
.idea
*.swp
.metals/
project/metals.sbt
.bloop/
Chart.lock
charts/
logs/errors.log
__pycache__
.DS_Store
.mypy_cache
.pytest_cache
dagster_home/
venv/
# Build files
build/
